@charset "UTF-8";

/* Указываем box sizing */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/

article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
  font: inherit;
}

.main {
  overflow-x: hidden;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */

/* ================================================================================================== */

[class*=container] {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

body {
  font-family: "Roboto Slab", serif;
}

.header {
  z-index: 10;
  position: fixed;
  color: #434343;
  width: 100%;
  padding: 0.9375rem 0;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: transparent;
  -webkit-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
}

.header__logo {
  font-weight: 500;
  font-size: 48px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  cursor: pointer;
}

.header__logo._anim {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
}

.nav__item {
  position: relative;
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: 0.03em;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  cursor: pointer;
}

.nav__item-lang-a {
  color: #434343;
}

.nav__item-lang:before {
  display: none;
}

.nav__item-theme {
  position: relative;
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: 0.03em;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #212121;
  color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 3px solid #212121;
  -webkit-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.nav__item-theme-a {
  text-decoration: none;
  color: #fff;
}

.nav__item-theme-a:hover {
  color: #212121;
}

.nav__item-theme-a._dark-text {
  color: #212121;
}

.nav__item-theme-a._dark-text:hover {
  color: #fff;
}

.nav__item-theme:before {
  display: none;
}

.nav__item-theme:hover {
  background-color: transparent;
}

.nav__item-theme._dark-text {
  border: 3px solid #fff;
  background-color: #fff;
}

.nav__item-theme._dark-text:hover {
  background-color: transparent;
  color: #fff;
}

.nav__item-theme._anim {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.nav__item-theme._anim-item {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.nav__item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #434343;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.nav__item._dark-text.nav__item::before {
  background-color: #fff;
}

.nav__item:hover::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
}

.nav__item._anim {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.nav__item._anim-item {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.nav__item:nth-child(1) {
  -webkit-transition: all 0.2s linear 0.1s;
  -o-transition: all 0.2s linear 0.1s;
  transition: all 0.2s linear 0.1s;
}

.nav__item:nth-child(2) {
  -webkit-transition: all 0.2s linear 0.2s;
  -o-transition: all 0.2s linear 0.2s;
  transition: all 0.2s linear 0.2s;
}

.nav__item:nth-child(3) {
  -webkit-transition: all 0.2s linear 0.3s;
  -o-transition: all 0.2s linear 0.3s;
  transition: all 0.2s linear 0.3s;
}

.nav__item:nth-child(4) {
  -webkit-transition: all 0.2s linear 0.4s;
  -o-transition: all 0.2s linear 0.4s;
  transition: all 0.2s linear 0.4s;
}

.nav__item:nth-child(5) {
  -webkit-transition: all 0.2s linear 0.5s;
  -o-transition: all 0.2s linear 0.5s;
  transition: all 0.2s linear 0.5s;
}

.nav__item:nth-child(6) {
  -webkit-transition: all 0.2s linear 0.6s;
  -o-transition: all 0.2s linear 0.6s;
  transition: all 0.2s linear 0.6s;
}

.burger {
  position: fixed;
  top: 35px;
  right: 30px;
  display: none;
  width: 26px;
  z-index: 6;
  cursor: pointer;
}

.burger::before {
  content: "";
  position: absolute;
  right: 0;
  height: 3px;
  width: 26px;
  background-color: #434343;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.burger::after {
  content: "";
  position: absolute;
  right: 0;
  height: 3px;
  width: 12px;
  background-color: #434343;
  margin-top: 11px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.burger span {
  right: 0;
  height: 3px;
  width: 20px;
  position: absolute;
  margin-top: 7px;
  background-color: #434343;
  -webkit-transform: scale(1) translate(0px, -50%);
      -ms-transform: scale(1) translate(0px, -50%);
          transform: scale(1) translate(0px, -50%);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.burger._active span {
  display: none;
}

.burger._active::after {
  -webkit-transform: rotate(45deg) translate(0px, -50%);
      -ms-transform: rotate(45deg) translate(0px, -50%);
          transform: rotate(45deg) translate(0px, -50%);
  width: 100%;
}

.burger._active::before {
  top: 8px;
  -webkit-transform: rotate(-45deg) translate(0px, 50%);
      -ms-transform: rotate(-45deg) translate(0px, 50%);
          transform: rotate(-45deg) translate(0px, 50%);
  width: 100%;
}

.burger._white span {
  background-color: #fff;
}

.burger._white::before {
  background-color: #fff;
}

.burger._white::after {
  background-color: #fff;
}

._lock {
  overflow: hidden;
}

._white {
  background-color: #fff;
}

.nav__item-theme-a {
  text-decoration: none;
  color: #fff;
}

.main {
  position: relative;
}

.first {
  position: relative;
  z-index: 0;
}

.first__lines {
  position: relative;
}

.first__line {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.first__line svg {
  width: 100vw;
  height: 100%;
}

.first__line._anim .first__line-path-1 {
  -webkit-animation: first-line-1 2s forwards;
          animation: first-line-1 2s forwards;
}

.first__line._anim .first__line-path-2 {
  -webkit-animation: first-line-2 2s forwards;
          animation: first-line-2 2s forwards;
}

.first__line-path-1 {
  stroke: #000;
  stroke-opacity: 0.2;
  fill: transparent;
  stroke-dasharray: 1100;
  stroke-dashoffset: 1100;
}

.first__line-path-2 {
  stroke: #000;
  stroke-opacity: 0.2;
  fill: transparent;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
}

.first__container {
  padding-top: 100px;
  position: relative;
  height: 100vh;
}

.first__text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  -webkit-transform: translate(-50%, -20%);
      -ms-transform: translate(-50%, -20%);
          transform: translate(-50%, -20%);
  opacity: 0;
  display: inline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 48px;
  font-size: 3rem;
  line-height: 130%;
  color: #1e1e1e;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.first__text._anim {
  -webkit-transform: translate(-50%, -40%);
      -ms-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  opacity: 1;
}

.first__btn {
  margin-top: 1.5625rem;
  z-index: 10;
}

.first__btn-btn {
  background: transparent;
  text-transform: uppercase;
  border: 3px solid #962D2D;
  border-radius: 1.875rem;
  padding: 0.9375rem 0;
  padding-right: 70px;
  padding-left: 70px;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.first__btn-btn:hover {
  background-color: #962D2D;
  color: #fff;
}

.typing {
  position: relative;
  text-align: left;
  right: -160px;
  color: #962D2D;
}

.typing-br {
  display: none;
}

.for-br {
  display: block;
}

.internet {
  position: absolute;
  right: 47%;
}

.internet-br {
  display: block;
}

._ml-20 {
  margin-left: -100px;
  width: 160px;
}

._ml-20::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-left: 2px solid #962D2D;
  -webkit-animation: typing 4s steps(5) infinite;
          animation: typing 4s steps(5) infinite;
}

._ml-20._dark-text {
  color: #962D2D;
}

._ml-20._dark-text._ml-20::before {
  background-color: #212121;
}

._ml50 {
  margin-left: -10px;
}

._ml50::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-left: 2px solid #962D2D;
  -webkit-animation: typing 4s steps(8) infinite;
          animation: typing 4s steps(8) infinite;
}

._ml50._dark-text {
  color: #962D2D;
}

._ml50._dark-text._ml50::before {
  background-color: #212121;
}

._ml80 {
  margin-left: -70px;
}

._ml80::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-left: 2px solid #962D2D;
  -webkit-animation: typing 4s steps(6) infinite;
          animation: typing 4s steps(6) infinite;
}

._ml80._dark-text {
  color: #962D2D;
}

._ml80._dark-text._ml80::before {
  background-color: #212121;
}

@-webkit-keyframes typing {
  60% {
    left: 100%;
    width: 0;
  }

  100% {
    left: 0%;
    width: 100%;
  }
}

@keyframes typing {
  60% {
    left: 100%;
    width: 0;
  }

  100% {
    left: 0%;
    width: 100%;
  }
}

@-webkit-keyframes first-line-1 {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes first-line-1 {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes first-line-2 {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes first-line-2 {
  to {
    stroke-dashoffset: 0;
  }
}

.site {
  padding-bottom: 60px;
}

.site__lines {
  position: relative;
}

.site__line {
  position: absolute;
  z-index: -1;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.site__line._anim .site__line-path {
  -webkit-animation: site-line 5s forwards;
          animation: site-line 5s forwards;
}

.site__line-path {
  stroke: #000;
  stroke-opacity: 0.2;
  fill: transparent;
  stroke-dasharray: 4700;
  stroke-dashoffset: 4700;
}

.site__line svg {
  width: 100vw;
  height: 100%;
}

.site__cards {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
}

.site__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 510px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 40px 66px;
  margin-top: -20px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.site__card:hover {
  margin-top: -40px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: -20px;
  -webkit-box-shadow: 0px 0px 50px rgba(134, 0, 0, 0.2);
          box-shadow: 0px 0px 50px rgba(134, 0, 0, 0.2);
}

.site__card._dark {
  -webkit-box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.2);
          box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.2);
}

@-webkit-keyframes site-line {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes site-line {
  to {
    stroke-dashoffset: 0;
  }
}

.card-r {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.card-r._anim {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}

.card-l {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.card-l._anim {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}

.card__icon {
  width: 150px;
  margin-bottom: 28px;
}

.card__title {
  font-weight: 600;
  font-size: 40px;
}

.card__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-top: 10px;
}

.card__price {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: 20px;
}

.card__price span {
  font-weight: 700;
  font-size: 28px;
  color: #962D2D;
}

.work {
  margin-top: 150px;
}

.work__lines {
  position: relative;
}

.work__line {
  position: absolute;
  z-index: -2;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.work__line._anim .work__line-path {
  -webkit-animation: work-line 5s forwards;
          animation: work-line 5s forwards;
}

.work__line svg {
  width: 100vw;
  height: 100%;
}

.work__line-path {
  stroke: #000;
  stroke-opacity: 0.2;
  fill: transparent;
  stroke-dasharray: 5300;
  stroke-dashoffset: 5300;
}

.work__title {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
}

.work__shapes {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
  margin-top: 50px;
}

.work__shapes::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  width: 2px;
  height: 100%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #000;
}

.work__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}

.work__img {
  max-width: 150px;
  max-height: 150px;
}

.work__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 65px;
  margin: 0 auto;
}

.work__item:first-child {
  margin-top: 40px;
}

.work__item-l {
  width: 730px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.work__item-r {
  width: 600px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.work__text {
  min-width: 270px;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.work__up {
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.03em;
  margin-bottom: 5px;
}

.work__down {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 130%;
}

.work__link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #8C8C8C;
  text-decoration: underline;
  margin-top: 15px;
  cursor: pointer;
}

.work__mob {
  display: none;
}

@-webkit-keyframes work-line {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes work-line {
  to {
    stroke-dashoffset: 0;
  }
}

.portfolio {
  margin-top: 150px;
}

.portfolio__lines {
  position: relative;
}

.portfolio__line {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.portfolio__line._anim .portfolio__line-path {
  -webkit-animation: portfolio-line 3s forwards;
          animation: portfolio-line 3s forwards;
}

.portfolio__line svg {
  width: 100vw;
  height: 100%;
}

.portfolio__line-path {
  stroke: #000;
  stroke-opacity: 0.2;
  fill: transparent;
  stroke-dasharray: 2200;
  stroke-dashoffset: 2200;
}

.portfolio__container {
  position: relative;
}

.portfolio__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 48px;
  font-size: 3rem;
  letter-spacing: 0.03em;
  margin-bottom: 2.8125rem;
}

@-webkit-keyframes portfolio-line {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes portfolio-line {
  to {
    stroke-dashoffset: 0;
  }
}

.swiper {
  margin: 0 auto;
}

.swiper-slide {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
}

.swiper-slide img {
  z-index: -1;
  border-radius: 15px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: default;
}

.swiper-show {
  cursor: pointer;
}

.swiper-show span {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  background-color: #962D2D;
  color: #fff;
  padding: 25px 50px;
  border-radius: 15px;
}

.swiper-button {
  position: absolute;
}

.swiper-button-left {
  position: absolute;
  left: -6.25rem;
}

.swiper-button-right {
  position: absolute;
  right: -6.25rem;
}

.swiper-button-prev {
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.swiper-button-prev img {
  -webkit-transform: translateX(-20%);
      -ms-transform: translateX(-20%);
          transform: translateX(-20%);
}

.swiper-button-prev::after {
  content: "";
}

.swiper-button-next {
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.swiper-button-next img {
  -webkit-transform: translateX(20%) rotate(180deg);
      -ms-transform: translateX(20%) rotate(180deg);
          transform: translateX(20%) rotate(180deg);
}

.swiper-button-next::after {
  content: "";
}

.ecomm-a {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 0;
}

.figma-land-a {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 0;
}

.vinprep-a {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 0;
}

.boldo-a {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 0;
}

.digital-agency-a {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 0;
}

.hanger-a {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 0;
}

.ybt-old-a {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 0;
}

.portfolio-a {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 0;
}

._block {
  opacity: 1;
}

._brightness {
  -webkit-filter: brightness(20%);
          filter: brightness(20%);
}

.contacts {
  margin-top: 150px;
  padding: 45px 0;
}

.contacts__container {
  max-width: 1200px;
}

.contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.contacts__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.contacts__form {
  background-color: #fff;
  max-width: 650px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  margin-top: -20px;
}

.contacts__form._dark {
  -webkit-box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.1);
}

.connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.connect__text {
  font-weight: 600;
  font-size: 28px;
  font-size: 28px;
  letter-spacing: 0.03em;
}

.connect__text-4 {
  margin-left: 7px;
}

.connect__text-5 {
  margin-left: 5px;
}

.connect__icon {
  max-width: 80px;
  max-height: 90px;
}

.form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 65px;
  padding-left: 65px;
  max-width: 524px;
}

.form:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.form._sending:after {
  opacity: 1;
  visibility: visible;
}

.form__title {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.03em;
  margin-bottom: 40px;
  margin-top: 35px;
  text-align: center;
}

.form__text {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.form__text span {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}

.form__input {
  font-family: "Roboto", sans-serif;
  height: 70px;
  border: none;
  border-radius: 35px;
  background-color: #F0F0F0;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.03em;
  margin-bottom: 40px;
  padding: 0 40px;
}

.form__input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 15px #434343;
          box-shadow: 0 0 15px #434343;
}

.form__input._error {
  -webkit-box-shadow: 0 0 15px #962D2D;
          box-shadow: 0 0 15px #962D2D;
}

.form__input::-webkit-input-placeholder {
  font-style: italic;
}

.form__input::-ms-input-placeholder {
  font-style: italic;
}

.form__input:-moz-input-placeholder {
  font-style: italic;
}

.form__input::-moz-input-placeholder {
  font-style: italic;
}

.form__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__btns button {
  width: 47%;
}

.form__btns-1 button {
  width: 100%;
}

.form__btn {
  height: 70px;
  font-weight: 600;
  font-size: 1.25rem;
  color: #fff;
  background-color: #962D2D;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  margin-bottom: 35px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.form__btn:hover {
  background-color: #aa3333;
}

.form__select {
  height: 70px;
  border: none;
  border-radius: 35px;
  background-color: #F0F0F0;
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: 0.03em;
  margin-bottom: 40px;
  padding: 0 40px;
}

.form__textarea {
  width: 100%;
  resize: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  height: 200px;
  border: none;
  border-radius: 35px;
  background-color: #F0F0F0;
  font-size: 20px;
  letter-spacing: 0.03em;
  margin-bottom: 40px;
  padding: 20px 40px;
}

.form__textarea-result {
  height: 240px;
}

.form__textarea:focus {
  outline: none;
  -webkit-box-shadow: 0 0 15px #434343;
          box-shadow: 0 0 15px #434343;
}

.form__textarea._error {
  -webkit-box-shadow: 0 0 15px #962D2D;
          box-shadow: 0 0 15px #962D2D;
}

.form__textarea::-webkit-input-placeholder {
  font-style: italic;
}

.form__textarea::-ms-input-placeholder {
  font-style: italic;
}

.form__textarea:-moz-input-placeholder {
  font-style: italic;
}

.form__textarea::-moz-input-placeholder {
  font-style: italic;
}

.form__number {
  font-size: 1.25rem;
  margin-top: -10px;
  margin-bottom: 10px;
  text-align: center;
}

.form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.form__checkbox .form__text {
  margin: 0;
}

.form__checkbox input {
  min-height: 20px;
  min-width: 20px;
}

.form__checkbox label {
  font-size: 1.25rem;
  font-weight: 500;
}

.form__checkbox label span {
  font-weight: 400;
  font-style: italic;
}

.form__send {
  height: 70px;
  font-weight: 600;
  font-size: 1.25rem;
  color: #962D2D;
  background-color: transparent;
  border: 3px solid #962D2D;
  cursor: pointer;
  border-radius: 50px;
  margin-bottom: 35px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.form__send._dark {
  color: #fff;
}

.form__send:hover {
  background-color: #962D2D;
  color: #fff;
}

.form__items {
  position: relative;
}

.form__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__fourth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__fifth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._unmove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

._move {
  display: none;
}

._dark {
  background-color: #212121;
}

._dark-text {
  color: #fff;
}

._dark-stroke {
  stroke: #fff;
}

.message {
  background-color: #07651c;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  position: fixed;
  top: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 50;
  text-align: center;
  opacity: 1;
}

.hideMeAfter5Seconds {
  -webkit-animation: hideAnimation 1s ease-in 5s;
          animation: hideAnimation 1s ease-in 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes hideAnimation {
  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes hideAnimation {
  to {
    top: 0;
    opacity: 0;
  }
}

@media (max-width: 1400px) {
  .portfolio__up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }

  .portfolio__title {
    margin-bottom: 20px;
  }

  .swiper-button {
    position: static;
  }

  .swiper-button-left {
    position: static;
    left: -6.25rem;
  }

  .swiper-button-right {
    position: static;
    right: -6.25rem;
  }
}

@media (max-width: 1200px) {
  .site__cards {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0;
  }

  .site__card {
    width: 48%;
    padding: 40px 30px;
  }

  .site__card:nth-child(1) {
    margin-bottom: 50px;
  }

  .site__card:nth-child(2) {
    margin-bottom: 50px;
  }
}

@media (max-width: 1170px) {
  .header__logo {
    font-size: calc(36px + 12 * ((100vw - 320px) / 850));
  }

  .nav {
    gap: calc(10px + 90 * ((100vw - 320px) / 850));
  }

  .first__text {
    font-size: calc(32px + 16 * ((100vw - 320px) / 850));
  }

  .first__btn-btn {
    padding-right: calc(40px + 30 * ((100vw - 320px) / 850));
  }

  .first__btn-btn {
    padding-left: calc(40px + 30 * ((100vw - 320px) / 850));
  }

  .card__title {
    font-size: calc(28px + 12 * ((100vw - 320px) / 850));
  }

  .card__text {
    font-size: calc(15px + 5 * ((100vw - 320px) / 850));
  }

  .work {
    margin-top: calc(50px + 100 * ((100vw - 320px) / 850));
  }

  .work__title {
    font-size: calc(32px + 16 * ((100vw - 320px) / 850));
  }

  .portfolio {
    margin-top: calc(50px + 100 * ((100vw - 320px) / 850));
  }

  .portfolio__title {
    font-size: calc(28px + 20 * ((100vw - 320px) / 850));
  }

  .contacts {
    margin-top: calc(50px + 100 * ((100vw - 320px) / 850));
  }

  .contacts__title {
    font-size: calc(36px + 12 * ((100vw - 320px) / 850));
  }

  .connect {
    gap: calc(20px + 10 * ((100vw - 320px) / 850));
  }

  .connect__text {
    font-size: calc(18px + 10 * ((100vw - 320px) / 850));
  }

  .form__title {
    font-size: calc(28px + 4 * ((100vw - 320px) / 850));
  }

  .form__text {
    font-size: calc(22px + 2 * ((100vw - 320px) / 850));
  }

  .form__input {
    font-size: calc(16px + 4 * ((100vw - 320px) / 850));
  }

  .form__textarea {
    font-size: calc(16px + 4 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1150px) {
  .contacts__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 70px;
  }

  .contacts__form {
    margin-top: 0;
  }
}

@media (max-width: 991.98px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 10;
  }

  .nav {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.875rem;
    margin-top: 3.125rem;
    width: 100%;
    -webkit-transform: translateY(-120%);
        -ms-transform: translateY(-120%);
            transform: translateY(-120%);
    -webkit-transition: -webkit-transform 0.3s linear;
    transition: -webkit-transform 0.3s linear;
    -o-transition: transform 0.3s linear;
    transition: transform 0.3s linear;
    transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  }

  .nav._active {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    margin-left: -30px;
  }

  .nav__item {
    font-size: 1.75rem;
  }

  .nav__item-theme {
    width: 40px;
    height: 40px;
  }

  .header {
    width: 100vw;
    height: 80px;
  }

  .header._active {
    background-color: #fff;
    z-index: 6;
    overflow: auto;
    height: 100%;
  }
}

@media (max-width: 768.98px) {
  .site__lines {
    display: none;
  }

  .site__container {
    padding: 0 15px;
  }

  .site__cards {
    gap: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .site__card {
    width: 510px;
  }

  .site__card:hover {
    margin: 0;
    margin-top: -20px;
  }

  .site__card:nth-child(1) {
    margin-bottom: 0;
  }

  .site__card:nth-child(2) {
    margin-bottom: 0;
  }
}

@media (max-width: 767.98px) {
  .header {
    background-color: #fff;
  }

  .header._dark-text {
    background-color: #212121;
  }

  .first__lines {
    display: none;
  }

  .first__container {
    height: 100%;
    margin-bottom: 100px;
  }

  .first__text {
    position: static;
    text-align: left;
    max-width: 580px;
  }

  .internet {
    position: inherit;
    display: inline;
  }

  .internet-br {
    display: none;
  }

  .for-br {
    display: none;
  }

  .typing {
    display: inline;
    left: 0;
    right: 0;
  }

  .typing-br {
    display: block;
  }

  ._ml-20 {
    margin-left: 0;
  }

  ._ml50 {
    margin-left: 0;
  }

  ._ml80 {
    margin-left: 0;
  }

  .work__lines {
    display: none;
  }

  .work__container {
    padding: 0 10px;
  }

  .work__shapes {
    display: none;
  }

  .work__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
    background-color: #fff;
    padding: 20px;
    width: 300px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
  }

  .work__item._dark {
    background-color: #212121;
  }

  .work__text {
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    text-align: center;
  }

  .work__l {
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
  }

  .work__r {
    display: none;
  }

  .work__mob {
    display: block;
  }

  .work__mob-1 {
    -webkit-transform: translateX(15%);
        -ms-transform: translateX(15%);
            transform: translateX(15%);
  }

  .portfolio__lines {
    display: none;
  }

  .swiper-button-prev {
    width: 50px;
    height: 50px;
  }

  .swiper-button-prev img {
    width: 40%;
  }

  .swiper-button-next {
    width: 50px;
    height: 50px;
  }

  .swiper-button-next img {
    width: 40%;
  }
}

@media (max-width: 600px) {
  .form {
    padding: 0 10px;
  }

  .contacts__container {
    padding: 0;
  }
}

@media (max-width: 520px) {
  .first__lines {
    max-width: 320px;
  }

  .first__line-1 {
    width: 300px;
    height: 200px;
  }

  .first__line-2 {
    right: -207px;
  }
}

@media (max-width: 400px) {
  .portfolio__up {
    gap: 100px;
  }
}

@media (max-width: 400px) and (max-width: 1170px) {
  .portfolio__up {
    gap: calc(5px + 95 * ((100vw - 320px) / 850));
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
         -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}